* {
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 10px;
}
:root{
    --white: #FFFFFF;
    --light-grey: #F7F7F7;
    --dark-grey: #7E7E7E;
    --light-green: #99E2D0;
    --dark-green:#008766;
    --light-blue: #89C8FA;
    --dark-blue: #003A68;
    --purple: #9356DC;
    --black: #101010;
}
body {
    display: flex;
    justify-content: center;
    margin: 0rem;
    padding: 0rem;
    background-color: var(--light-grey);
}
.container{
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--black);
}
a:visited{
    text-decoration: none;
    color: var(--black);
}