@charset "UTF-8";
/*** Général ***/
* {
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

:root {
  --white: #FFFFFF;
  --light-grey: #F7F7F7;
  --dark-grey: #7E7E7E;
  --light-green: #99E2D0;
  --dark-green:#008766;
  --light-blue: #89C8FA;
  --dark-blue: #003A68;
  --purple: #9356DC;
  --black: #101010;
}

body {
  display: flex;
  justify-content: center;
  margin: 0rem;
  padding: 0rem;
  background-color: var(--light-grey);
}

.container {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:visited {
  text-decoration: none;
  color: var(--black);
}

h1, h2, h3, p {
  margin: 0rem;
}

h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 4.1rem;
}

h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-transform: uppercase;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

/*** Page ***/
.header__back {
  position: absolute;
  top: 2.7rem;
  left: 2.3rem;
}
.header__back .fa-arrow-left-long {
  font-size: 1.6rem;
}
.header__title {
  width: auto;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
}
.header__title img {
  margin-top: 1.4rem;
  margin-bottom: 0.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  width: 16.2rem;
  height: 4.4rem;
}

.menu img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 27.5rem;
}
.menu__card {
  position: relative;
  top: -5.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  background-color: var(--light-grey);
}
.menu__card__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.7rem;
}
.menu__card__head .fa-heart {
  margin-right: 4.1rem;
  font-size: 2.2rem;
}
.menu__card__chart {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.menu__card__chart h2 {
  height: 2.7rem;
  width: 4rem;
  border-bottom: 2px solid var(--light-green);
}
.menu__card__chart__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: var(--white);
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
}
.menu__card__chart__element__insidecard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  padding: 1.5rem;
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
}
.menu__card__chart__element__insidecard__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu__card__chart__element__insidecard__price p {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.menu__card__chart__element__check {
  display: flex;
  justify-content: center;
  background-color: var(--light-green);
  color: var(--white);
  width: 6.9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.menu__card__chart__element__check .fa-circle-check {
  font-size: 1.6rem;
}
.menu__card__order {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--white);
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 1.3rem 1.6rem;
  margin: 4rem 9.5rem 0rem;
}

.footer {
  margin-top: 0rem;
  padding-left: 2.5rem;
  background-color: #353535;
}
@media all and (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding-top: 6.4rem;
    padding-left: 0rem;
  }
}
.footer__logo {
  padding-top: 2.2rem;
  order: 1;
}
@media all and (min-width: 1024px) {
  .footer__logo {
    padding-top: 0rem;
    margin-right: 3rem;
    order: 2;
  }
}
.footer__logo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 13.9rem;
  height: 2.7rem;
  filter: invert(100%);
}
.footer__chart {
  display: flex;
  flex-direction: column;
  padding-top: 1.6rem;
  padding-bottom: 2.2rem;
  gap: 0.7rem;
  order: 2;
}
@media all and (min-width: 1024px) {
  .footer__chart {
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 0rem;
    margin-left: 40%;
    order: 1;
  }
}
.footer__chart__offer, .footer__chart__legal {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.footer__chart__offer a, .footer__chart__legal a {
  color: var(--white);
}
@media all and (min-width: 1024px) {
  .footer__chart__offer {
    flex-direction: row;
  }
}
@media all and (min-width: 1024px) {
  .footer__chart__legal {
    flex-direction: row;
    margin-left: 4rem;
  }
}/*# sourceMappingURL=la_palette.css.map */