@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

:root {
  --white: #FFFFFF;
  --light-grey: #F7F7F7;
  --dark-grey: #7E7E7E;
  --light-green: #99E2D0;
  --dark-green:#008766;
  --light-blue: #89C8FA;
  --dark-blue: #003A68;
  --purple: #9356DC;
  --black: #101010;
}

body {
  display: flex;
  justify-content: center;
  margin: 0rem;
  padding: 0rem;
  background-color: var(--light-grey);
}

.container {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:visited {
  text-decoration: none;
  color: var(--black);
}

/* elements */
.footer {
  margin-top: 0rem;
  padding-left: 2.5rem;
  background-color: #353535;
}
@media all and (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding-top: 6.4rem;
    padding-left: 0rem;
  }
}
.footer__logo {
  padding-top: 2.2rem;
  order: 1;
}
@media all and (min-width: 1024px) {
  .footer__logo {
    padding-top: 0rem;
    margin-right: 3rem;
    order: 2;
  }
}
.footer__logo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 13.9rem;
  height: 2.7rem;
  filter: invert(100%);
}
.footer__chart {
  display: flex;
  flex-direction: column;
  padding-top: 1.6rem;
  padding-bottom: 2.2rem;
  gap: 0.7rem;
  order: 2;
}
@media all and (min-width: 1024px) {
  .footer__chart {
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 0rem;
    margin-left: 40%;
    order: 1;
  }
}
.footer__chart__offer, .footer__chart__legal {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.footer__chart__offer a, .footer__chart__legal a {
  color: var(--white);
}
@media all and (min-width: 1024px) {
  .footer__chart__offer {
    flex-direction: row;
  }
}
@media all and (min-width: 1024px) {
  .footer__chart__legal {
    flex-direction: row;
    margin-left: 4rem;
  }
}

/*** Général ***/
h1, h2, h3, p {
  margin: 0rem;
}

h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 4.1rem;
}

h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-transform: uppercase;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

/*** Page ***/
.header__back {
  position: absolute;
  top: 2.7rem;
  left: 2.3rem;
}
.header__back .fa-arrow-left-long {
  font-size: 1.6rem;
}
.header__title {
  width: auto;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
}
.header__title img {
  margin-top: 1.4rem;
  margin-bottom: 0.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  width: 16.2rem;
  height: 4.4rem;
}

.menu img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 27.5rem;
}
.menu__card {
  position: relative;
  top: -5.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  background-color: var(--light-grey);
}
@media all and (min-width: 1024px) {
  .menu__card {
    margin-left: 13%;
    margin-right: 13%;
  }
}
.menu__card__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.7rem;
}
@media all and (min-width: 1024px) {
  .menu__card__head {
    justify-content: center;
    gap: 2.4rem;
  }
}
.menu__card__head__heart {
  margin-right: 4.1rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.menu__card__head__heart .fa-heart {
  font-size: 2.2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-clip: content-box;
  z-index: 0;
}
.menu__card__head__heart .fa-heart::after {
  content: "\f004";
  font: var(--fa-font-solid);
  color: var(--purple);
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-clip: content-box;
  z-index: -1;
  opacity: 0;
  animation: empty-heart 1s 0s;
  animation-fill-mode: forwards;
}
.menu__card__head__heart .fa-heart:hover::after {
  animation: complete-heart 1s 0s;
  animation-fill-mode: forwards;
}
@keyframes complete-heart {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes empty-heart {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
.menu__card__chart1 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.menu__card__chart1 h2 {
  height: 2.7rem;
  width: 4rem;
  border-bottom: 2px solid var(--light-green);
}
@media all and (min-width: 1024px) {
  .menu__card__chart1 {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.menu__card__chart1__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  background: var(--white);
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  height: 6.9rem;
  animation: progress-loading 500ms 500ms;
  animation-fill-mode: forwards;
}
@keyframes progress-loading {
  from {
    opacity: 0;
    transform: translateX(-999px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.menu__card__chart1__element__insidecard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
}
.menu__card__chart1__element__insidecard__text {
  overflow: hidden;
}
.menu__card__chart1__element__insidecard__text h3, .menu__card__chart1__element__insidecard__text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card__chart1__element__insidecard__price {
  padding-left: 1.5rem;
}
.menu__card__chart1__element__insidecard__price p {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.menu__card__chart1__element__check {
  display: flex;
  justify-content: center;
  background-color: var(--light-green);
  color: var(--white);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  width: 0rem;
  transition-property: width;
  transition-duration: 500ms;
  transition-delay: 0s;
}
.menu__card__chart1__element__check .fa-circle-check {
  visibility: hidden;
  font-size: 2rem;
}
:active > .menu__card__chart1__element__check {
  width: 6.9rem;
}
:active > .menu__card__chart1__element__check .fa-circle-check {
  visibility: visible;
}
.menu__card__chart2 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.menu__card__chart2 h2 {
  height: 2.7rem;
  width: 4rem;
  border-bottom: 2px solid var(--light-green);
}
@media all and (min-width: 1024px) {
  .menu__card__chart2 {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.menu__card__chart2__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  background: var(--white);
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  height: 6.9rem;
  animation: progress-loading 1s 500ms;
  animation-fill-mode: forwards;
}
@keyframes progress-loading {
  from {
    opacity: 0;
    transform: translateX(-999px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.menu__card__chart2__element__insidecard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
}
.menu__card__chart2__element__insidecard__text {
  overflow: hidden;
}
.menu__card__chart2__element__insidecard__text h3, .menu__card__chart2__element__insidecard__text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card__chart2__element__insidecard__price {
  padding-left: 1.5rem;
}
.menu__card__chart2__element__insidecard__price p {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.menu__card__chart2__element__check {
  display: flex;
  justify-content: center;
  background-color: var(--light-green);
  color: var(--white);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  width: 0rem;
  transition-property: width;
  transition-duration: 500ms;
  transition-delay: 0s;
}
.menu__card__chart2__element__check .fa-circle-check {
  visibility: hidden;
  font-size: 2rem;
}
:active > .menu__card__chart2__element__check {
  width: 6.9rem;
}
:active > .menu__card__chart2__element__check .fa-circle-check {
  visibility: visible;
}
.menu__card__chart3 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.menu__card__chart3 h2 {
  height: 2.7rem;
  width: 4rem;
  border-bottom: 2px solid var(--light-green);
}
@media all and (min-width: 1024px) {
  .menu__card__chart3 {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.menu__card__chart3__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  background: var(--white);
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  height: 6.9rem;
  animation: progress-loading 1500ms 500ms;
  animation-fill-mode: forwards;
}
@keyframes progress-loading {
  from {
    opacity: 0;
    transform: translateX(-999px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.menu__card__chart3__element__insidecard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
}
.menu__card__chart3__element__insidecard__text {
  overflow: hidden;
}
.menu__card__chart3__element__insidecard__text h3, .menu__card__chart3__element__insidecard__text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card__chart3__element__insidecard__price {
  padding-left: 1.5rem;
}
.menu__card__chart3__element__insidecard__price p {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.menu__card__chart3__element__check {
  display: flex;
  justify-content: center;
  background-color: var(--light-green);
  color: var(--white);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  width: 0rem;
  transition-property: width;
  transition-duration: 500ms;
  transition-delay: 0s;
}
.menu__card__chart3__element__check .fa-circle-check {
  visibility: hidden;
  font-size: 2rem;
}
:active > .menu__card__chart3__element__check {
  width: 6.9rem;
}
:active > .menu__card__chart3__element__check .fa-circle-check {
  visibility: visible;
}
.menu__card__order {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--white);
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 1.3rem 1.6rem;
  margin: 4rem 9.5rem 0rem;
}
.menu__card__order:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
@media all and (min-width: 1024px) {
  .menu__card__order {
    margin-left: 40%;
    margin-right: 40%;
  }
}/*# sourceMappingURL=menupages.css.map */