@charset "UTF-8";
/*** Général ***/
* {
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

:root {
  --white: #FFFFFF;
  --light-grey: #F7F7F7;
  --dark-grey: #7E7E7E;
  --light-green: #99E2D0;
  --dark-green:#008766;
  --light-blue: #89C8FA;
  --dark-blue: #003A68;
  --purple: #9356DC;
}

body {
  margin: 0rem;
  padding: 0rem;
}

.container {
  max-width: 72rem;
  background-color: var(--light-grey);
}

h1, h2, h3 {
  margin: 0rem;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

p {
  margin: 0rem;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

/*** Header ***/
.header__title {
  width: auto;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
}
.header__title img {
  margin-top: 1.4rem;
  margin-bottom: 0.5rem;
  object-fit: contain;
  width: 16.2rem;
  height: 4.4rem;
}
.header__formulary {
  background: #EAEAEA;
}
.header__formulary__place {
  display: flex;
  justify-content: center;
  gap: 1.7rem;
  padding-top: 1.55rem;
  padding-bottom: 1.55rem;
}
.header__formulary__place .fa-location-dot {
  font-size: 1.6rem;
}
.header__formulary__place #text__entry {
  border: hidden;
  background: #EAEAEA;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.explorer__text {
  margin-top: 3.95rem;
  text-align: center;
}
.explorer__divbutton {
  margin-top: 2.7rem;
  text-align: center;
}
.explorer__divbutton__button {
  padding: 1.3rem 1.875rem;
  color: var(--white);
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.1rem;
  cursor: pointer;
}

.operation {
  padding-left: 2rem;
  margin-top: 5.7rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.operation h2 {
  padding-top: 4.8rem;
}
.operation__step {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.3rem;
  padding-top: 2.8rem;
  margin-left: 1.2rem;
  margin-right: 2rem;
  padding-bottom: 2.8rem;
  background-color: var(--light-grey);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.operation__step .fa-1, .operation__step .fa-2, .operation__step .fa-3 {
  border-radius: 2rem;
  margin-left: -1.2rem;
  background-color: var(--purple);
  color: var(--white);
}
.operation__step .fa-1 {
  padding: 0.4rem 0.8rem;
}
.operation__step .fa-2 {
  padding: 0.4rem 0.7rem;
}
.operation__step .fa-3 {
  padding: 0.4rem 0.5rem;
}
.operation__step .fa-store {
  color: var(--purple);
}
.operation__step .fa-mobile-screen-buton, .operation__step .fa-list-ul {
  color: var(--dark-grey);
}
.operation__step__text {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.operation .fa-solid {
  font-size: 1.6rem;
}

.restaurants {
  margin-top: 6.8rem;
  padding-top: 5.4rem;
  padding-left: 2rem;
}

/*# sourceMappingURL=style.css.map */
