.header{
    &__title{
        width:auto ;
        display: flex;
        justify-content: center;
        background-color:#FFFFFF ;

        img{
            margin-top: 1.4rem;
            margin-bottom: 0.5rem;
            object-fit: contain;
            width: 16.2rem;
            height: 4.4rem;
        }
    }

    &__formulary{
        
        background: #EAEAEA;
    
        &__place{
            display: flex;
            justify-content: center;
            gap: 1.7rem;
            padding-top: 1.55rem;
            padding-bottom: 1.55rem;

            .fa-location-dot{
                font-size: 1.6rem;
            }
            
            #text__entry{
                border: hidden;
                text-align: center;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                background: #EAEAEA;
            }
        }
    }
}
.headerpages{
    &__back{
        position: absolute;
        top : 2.7rem;
        left: 2.3rem;

        .fa-arrow-left-long{
        font-size: 1.6rem;  
        }                
        }

    &__title{
        width:auto ;
        display: flex;
        justify-content: center;
        background-color:#FFFFFF ;

        img{
            margin-top: 1.4rem;
            margin-bottom: 0.5rem;
            object-fit: contain;
            width: 16.2rem;
            height: 4.4rem;
        }
    }
}